.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-height: 731px;
  max-width: 380px;
  margin: 20px;
  overflow: hidden;


  & img {
    width: 100%;
    height: 253px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 300px;

    &__title {
      margin: 15px 0;
      font-size: 18px;
      font-family: $primary-font;
      font-weight: normal;
    }

    &__recipe {
      display: flex;
      flex-direction: column;
      font-family: $secondary-font;
      font-size: 14px;
      color: $tertiary-color;

      &__title {
        margin: 15px 0;
        font-size: 14px;
        font-family: $secondary-font;
        color: grey;
      }

      &__description {
        margin: 0;
        font-size: 14px;
        font-family: $secondary-font;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 110px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        white-space: normal;
        word-break: break-word;
        line-height: 1.5;
        
        &:hover {
          min-height: 110px;
          height: auto;
          display: block;

          .card {
            height: auto;
          }
        }
      }
    }

    &__ingredient {
      display: block;
      font-family: $secondary-font;
      flex-direction: column;
      gap: 5px;
      margin: 15px 0;

      &__title {
        margin: 15px 0;
        font-size: 14px;
        color: $quaternary-color;
      }

      &__grid {
        display: grid;

        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 100%;

        &__item {
          display: flex;
          flex-direction: column;
          gap: 5px;
          height: 50px;

          &__title {
            font-size: 14px;
            font-weight: 600;
          }

          &__quantity {
            font-size: 14px;
            color: $quaternary-color;
          }
        }
      }
    }
  }
}