$main-color: #ffd15b;
$secondary-color: red;
$background-color: #ededed;
$tertiary-color: black;
$quaternary-color: grey;

$font-anton: "anton";
$font-manrope: "manrope";
$font-awesome: "fontawesome 5 free";

$primary-font: $font-anton;
$secondary-font: $font-manrope;
$tertiary-font: $font-awesome;

@font-face {
  font-family: "anton";
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "manrope";
  src: url("../fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "fontawesome 5 free";
  src: url("../fonts/fa-solid-900.ttf") format("truetype");
}